# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Local cache
.idea/go-archived-cache.json

# macOS
.DS_Store

# Windows
Thumbs.db

# Build artifacts
*.zip
*.jar

.intellijPlatform